<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/52c6c9b9-5009-4f2c-87ad-1168fe8955c6/resourcegroups/Voice20180529092047ResourceGroup/providers/Microsoft.Web/sites/Voice20180529092047</ResourceId>
    <ResourceGroup>Voice20180529092047ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://voice20180529092047.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>voice20180529092047.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Voice20180529092047</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Voice20180529092047</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DiplomaConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:voice20180529092047dbserver.database.windows.net,1433;Initial Catalog=Voice20180529092047_db;User ID=c0deX1@voice20180529092047dbserver;Password=ArrayqA159753" Name="Data Source=tcp:voice20180529092047dbserver.database.windows.net,1433;Initial Catalog=Voice20180529092047_db;User Id=c0deX1@voice20180529092047dbserver;Password=ArrayqA159753" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Voice.Models.DatabaseContext, Voice" MigrationConfiguration="Voice.Migrations.Configuration, Voice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DiplomaConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:voice20180529092047dbserver.database.windows.net,1433;Initial Catalog=Voice20180529092047_db;User Id=c0deX1@voice20180529092047dbserver;Password=ArrayqA159753</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>